/* Import Google Sans */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;700&display=swap');

body {
    font-family: 'Google Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    /* Background styles */
    background-image: url('background2.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

h1 {
    font-family: 'Google Sans', sans-serif; /* Ensuring it uses the font */
    color: whitesmoke;                           /* Sets text color to black */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle drop shadow */
    font-size: 3rem;                        /* Adjust size as needed */
}